doctype html
//
    Landed by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Landed by HTML5 UP
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //if lte IE 8
      script(src="assets/js/ie/html5shiv.js")
    link(rel="stylesheet", href="assets/css/main.css")
    //if lte IE 9
      link(rel="stylesheet", href="assets/css/ie9.css")
    //if lte IE 8
      link(rel="stylesheet", href="assets/css/ie8.css")
  body.landing
    #page-wrapper
      // Header
      header#header
        h1#logo
          a(href="index.html") Landed
        nav#nav
          ul
            li
              a(href="index.html") Home
            li
              a(href="#") Layouts
              ul
                li
                  a(href="left-sidebar.html") Left Sidebar
                li
                  a(href="right-sidebar.html") Right Sidebar
                li
                  a(href="no-sidebar.html") No Sidebar
                li
                  a(href="#") Submenu
                  ul
                    li
                      a(href="#") Option 1
                    li
                      a(href="#") Option 2
                    li
                      a(href="#") Option 3
                    li
                      a(href="#") Option 4
            li
              a(href="elements.html") Elements
            li
              a.button.special(href="#") Sign Up
      // Banner
      section#banner
        .content
          header
            h2 The future has landed
            p
              | And there are no hoverboards or flying cars.
              br
              | Just apps. Lots of mother flipping apps.
          span.image
            img(src="images/pic01.jpg", alt="")
        a.goto-next.scrolly(href="#one") Next
      // One
      section#one.spotlight.style1.bottom
        span.image.fit.main
          img(src="images/pic02.jpg", alt="")
        .content
          .container
            .row
              .4u.12u$(medium)
                header
                  h2 Odio faucibus ipsum integer consequat
                  p Nascetur eu nibh vestibulum amet gravida nascetur praesent
              .4u.12u$(medium)
                p
                  | Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
                  | Blandit orci porttitor semper. Arcu phasellus tortor enim mi
                  | nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
                  | augue varius tempus lobortis porttitor accumsan consequat
                  | adipiscing lorem dolor.
              .4u$.12u$(medium)
                p
                  | Morbi enim nascetur et placerat lorem sed iaculis neque ante
                  | adipiscing adipiscing metus massa. Blandit orci porttitor semper.
                  | Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
                  | mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
                  | ipsum dolor nullam.
        a.goto-next.scrolly(href="#two") Next
      // Two
      section#two.spotlight.style2.right
        span.image.fit.main
          img(src="images/pic03.jpg", alt="")
        .content
          header
            h2 Interdum amet non magna accumsan
            p Nunc commodo accumsan eget id nisi eu col volutpat magna
          p
            | Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.
          ul.actions
            li
              a.button(href="#") Learn More
        a.goto-next.scrolly(href="#three") Next
      // Three
      section#three.spotlight.style3.left
        span.image.fit.main.bottom
          img(src="images/pic04.jpg", alt="")
        .content
          header
            h2 Interdum felis blandit praesent sed augue
            p Accumsan integer ultricies aliquam vel massa sapien phasellus
          p
            | Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.
          ul.actions
            li
              a.button(href="#") Learn More
        a.goto-next.scrolly(href="#four") Next
      // Four
      section#four.wrapper.style1.special.fade-up
        .container
          header.major
            h2 Accumsan sed tempus adipiscing blandit
            p Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat
          .box.alt
            .row.uniform
              section.4u.6u(medium).12u$(xsmall)
                span.icon.alt.major.fa-area-chart
                h3 Ipsum sed commodo
                p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
              section.4u.6u$(medium).12u$(xsmall)
                span.icon.alt.major.fa-comment
                h3 Eleifend lorem ornare
                p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
              section.4u$.6u(medium).12u$(xsmall)
                span.icon.alt.major.fa-flask
                h3 Cubilia cep lobortis
                p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
              section.4u.6u$(medium).12u$(xsmall)
                span.icon.alt.major.fa-paper-plane
                h3 Non semper interdum
                p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
              section.4u.6u(medium).12u$(xsmall)
                span.icon.alt.major.fa-file
                h3 Odio laoreet accumsan
                p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
              section.4u$.6u$(medium).12u$(xsmall)
                span.icon.alt.major.fa-lock
                h3 Massa arcu accumsan
                p Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.
          footer.major
            ul.actions
              li
                a.button(href="#") Magna sed feugiat
      // Five
      
      // Footer
      footer#footer
        ul.icons
          li
            a.icon.alt.fa-twitter(href="#")
              span.label Twitter
          li
            a.icon.alt.fa-facebook(href="#")
              span.label Facebook
          li
            a.icon.alt.fa-linkedin(href="#")
              span.label LinkedIn
          li
            a.icon.alt.fa-instagram(href="#")
              span.label Instagram
          li
            a.icon.alt.fa-github(href="#")
              span.label GitHub
          li
            a.icon.alt.fa-envelope(href="#")
              span.label Email
        ul.copyright
          li &#169; Untitled. All rights reserved.
          li
            | Design:
            a(href="http://html5up.net") HTML5 UP
    // Scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/jquery.dropotron.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    //if lte IE 8
      script(src="assets/js/ie/respond.min.js")
    script(src="assets/js/main.js")
